*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.container{
    margin-top: 10rem;
    margin-bottom: 0rem;
}

h1, h2{
    color: teal;
    text-align: center;
}

h1{
    margin-bottom: 2rem;
    font-size: 3rem;
}

h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color:rgb(10, 157, 108);
    color: black;
}

.btn{
    display: inline;
    margin-right: 10px;
    margin-left: 620px;
}

.btn1{
    margin-left: 10px;
    display: inline;
}

button{
    background-color: teal;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.images{
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-gap: 1em;
}

